<ion-header>
  <ion-toolbar>
    <ion-title>Mi tiempo <ion-icon name="cloud-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content container>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-virtual-scroll [items]="provincias">
          <ion-item *virtualItem="let item;" detail>
            <ion-label [routerLink]="['/home/provincias/'+item['CODPROV']]"
              >{{item['NOMBRE_PROVINCIA']}}</ion-label
            >
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
